.About {  
  width: 100%;
  max-width: 1600px;
  height: auto;
  margin: 150px auto;
  margin-bottom: 16px;
  overflow: hidden;  
}

.About .About_title {  
  width: 100%;
  height: auto;
  font-family: 'SupermercadoOne.ttf';
  font-size: 4rem;
  font-weight: 900;
  display: flex;
  justify-content: center;
  align-items: center;
}

.About .About_Allbox {
  width: 100%;
  height: auto;  
  display: flex;      
  overflow: hidden;
  justify-content: space-evenly;
  gap: 32px;
}

.About .About_Allbox .About_img {    
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;  
}

.About .About_Allbox .About_img>figure {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  background-color: #767585;
  overflow: hidden;
}

.About_R .About_text {  
  font-size: 1.2rem;
  font-weight: 500;
  font-family: 'Jua';
  line-height: 200%;
  margin: 32px auto;
  padding: 16px;
}
.About_R .About_text>p{
  max-width: calc(100vw - 56px);
}

.About_R .About_text>p>br {
  display: none;
}

.About_R .About_text>p>span {
  color: #9481EB;
  font-weight: 500;
}

.About_R .About_textlist {
  display: flex;
  flex-direction: column;
}

.About_textlist .About_list {
  font-size: 1.3rem;
  font-weight: 700;
  padding: 4px 16px;
  background-color: #E3D8F2;
}

.About_textlist .About_info {
  max-width: calc(100vw - 56px);
  font-size: 1.1rem;
  font-weight: 500;
  padding: 8px 16px;
  margin-bottom: 40px;
}

.About_textlist .About_info .info {
  display: flex;
  gap: 8px;
  margin: 8px auto;
  flex-wrap: wrap;
}

.About_textlist .About_info .info .info1 {
  gap: 16px;
  display: flex;  
  line-height: 150%;  
}
.About_textlist .About_info .info .info1 .item_more{
  display: inline-block;
  padding-left: 40px;
  
}
.About_textlist .About_info .info .info1 .item_more:hover{
  color: #9481EB;
  text-decoration: underline;

}
.About_textlist .About_info .info>span {
  color: #AEA9BA;
  font-size: 1rem;
}

.About_textlist .About_info .info3,
.About_textlist .About_info .info2 {
  display: flex;
  gap: 8px;
  margin: 8px auto;
  flex-wrap: wrap;
}

.About_textlist .About_info .info3>span{
  color: #AEA9BA;
  font-size: 1rem;
}