.header{
  background-color: #E3D8F2;  
  width: 100%;  
  height: 100px;  
  overflow: hidden;  
  z-index: 3;  
}
.header_i{    
  max-width: 1600px;
  height: 100%;
  margin: auto;  
  display: flex;
  justify-content: space-between;
  align-items: center;  
}
.header_i .logobox{  
  max-width: 30vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  padding-left: 16px;
}
.header_i .logobox>p{
  width: 80%;
  font-family: 'SupermercadoOne.ttf';    
  font-size: 1.2rem;
  font-weight: 900;
}
.header_i .logo{    
  max-width: 50px;
  min-height: 50px;    
  border-radius: 50%;
  overflow: hidden;    
}
.menu {
  width: 0%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 64px;        
  overflow: hidden;
  transform: translateX(-100%);  
  transition: width 0.5s ease, transform 0.5s ease;
}
.menu.open {
  width: 60%;
  transform: translateX(35%);    
}
.menuli {  
  color: #494554;
  font-family: 'Jua';  
  font-size: 1.2rem;
  font-weight: 500;
  cursor: pointer;
  padding: 20px;
}
.ham {
  width: 40px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;  
  margin: 24px;
}

.ham .line {
  width: 100%;
  height: 4px;
  background: #494554;
  border-radius: 2px;  
  transition: 0.3s;
}


.ham.open .line:nth-child(1) {
  transform: translateY(13px) rotate(45deg);  
}

.ham.open .line:nth-child(2) {
  opacity: 0;  
}

.ham.open .line:nth-child(3) {  
  transform: translateY(-13px) rotate(-45deg);    
}