@media (max-width: 1800px) {
  .header, .main, .About, 
  .skills, .Work, .Contact {
    padding: 0 16px;
  }
  .nav .Right_nav_box {
    top: 90% !important;
    right: 0% !important;
    z-index: 9999;
  }  
  .nav .Right_nav_box .Right_nav .navli {
    display: none !important;
  }
}
@media (max-width: 1600px) {
  .skills .skills_AllBox {
    padding: 16px;
  }  
}
@media (max-width: 1500px) {
  .menu.open {
    transform: translateX(25%);
  }  
}
@media (max-width: 1400px) {
  .progress_bar {
    width: 250px !important;
    height: 20px !important;
  }
  .text_motto {
    padding: 0px 16px;
  }
}
@media (max-width: 1335px) {
  .menu {
    gap: 32px;
  }
  .menu.open {
    transform: translateX(20%);
  }
  .text_motto {
    font-size: 3rem !important;
  }
}

@media (max-width: 1200px) {
  .menu {
    gap: 16px;
  }
  .menu.open {
    transform: translateX(6%);
  }
  .Main_Box .eclipse_container {
    width: 600px !important;
    height: 600px !important;
    margin: 100px auto;
  }
  .About .About_Allbox .About_img > figure {
    transform: scale(0.8);
  }
  #Contact .ContactAll .Contact_text{
    font-size: 1.2rem !important;
  }
}

@media (max-width: 1100px) {
  .header_i .logobox {
    max-width: 50vw !important;
  }
  .text_motto {
    font-size: 2.5rem !important;
  }
  .text_song {
    font-size: 1rem !important;
  }
  .About_R .About_text > p .br4 {
    display: none !important;
  }
  .skills .skills_AllBox{    
    display: flex !important;
    flex-wrap: wrap !important;
  } 
  .icon_container .skill_item{
    width: fit-content !important;
  }
  .skills_AllBox .skill_box .icon_container{
    flex-direction: row !important;
    width: fit-content;
    height: auto;    
    flex-wrap: wrap;    
    align-items: flex-end !important;    
  }
  .icon_container .skill_item{
    flex-direction: column;   
  }
  .progress_bar{
    width: 100px !important;      
  }
  .progress_bar .progress{
    height: 15px !important;    
    background-color: #9481EB !important;
  }  
  .progress_bar .progress .progress_butterfly .learning{
    top: 90% !important;   
    font-size: 0.85rem !important;
  } 
  .progress_bar .progress .progress_butterfly .butterfly_icon {
    display: none;    
  }
  .Toggle {
    width: 30% !important;
    bottom: -62% !important;
    right: 4% !important;
  }
  .Toggle .toggle_item .progress_bar{
    width: 100px !important;
    height: 15px !important;   
  }
  .Toggle_icon{      
    bottom: -10% !important;   
    right: 10%; 
  }
  .Contact_text > br {
    display: none;
  }
}

@media (max-width: 1024px) {
  .header {
    position: relative;
  }
  .header_i .logobox {
    max-width: 80vw !important;
  }
  .Main_Box {
    flex-direction: column;
  }
  .scroll_icon {
    margin: 20vh auto;
  }
  .menu.open {
    z-index: 9999;
    position: fixed;
    width: 10%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
    top: 100px;
    right: 4%;
    background-color: transparent;
    border-radius: 15px;
    background-color: #494554;
  }
  .menuli {
    color: #e3d8f2 !important;
    font-size: 1rem;
  }
  .menu.open .menuli {
    color: #e3d8f2;
  }
  .menuli:first-child {
    display: block;
  }
  .Close {
    display: block;
    color: #e3d8f2;
    font-size: 1rem;
  }
  .text_motto {
    font-size: 3rem !important;
    text-align: center;
  }
  .main_text .text_song {
    display: none !important;
  }
  .About_Allbox {
    flex-direction: column;    
  }
  .About .About_Allbox .About_R {
    flex: none;
    width: 100vw !important;
  }
  .About_R .About_text > p .br3 {
    display: block;
  }    
  #Work .Work_container .Work_item{
    flex-direction: column;    
    gap: 50px;
  }
  .Toggle {
    display: none !important;
  }
  .Toggle_icon{      
    display: none !important;
  }
}
@media (max-width: 925px) {
  .About_R .About_text > p .br3 {
    display: none;
  }   
}

@media (max-width: 800px) {
  .Main_Box .eclipse_container {
    width: 400px !important;
    height: 400px !important;
  }
  .text_motto {
    font-size: 2.5rem !important;
  }
  .menu.open {
    width: 12vw;
  }  
  .Right_nav_box .Top{
    right: 1vw;
    top: -1vh !important;
  }
}

@media (max-width: 650px) {
  .logobox .logo_text {
    font-size: 1.5rem !important;
  }
  .Main_Box .eclipse_container {
    width: 300px !important;
    height: 300px !important;
  }
  .text_motto {
    font-size: 2rem !important;
    padding: 16px;
  }
  .menu.open {
    width: 15vw;
  }  
  .Work_description .Work_title > h3,
  .Work_description .design .design_box > h3,
  .Work_description .useTools .tools_title > h3,
  .Work_description .uiux .Work_UIUX > h3 {
    font-size: 1rem !important;
  }
  .Work_description .Work_title > span,
  .Work_description .design .design_box > span,
  .Work_description .useTools .tools_title > span,
  .Work_description .uiux .Work_UIUX > span {
    font-size: 0.8rem !important;
  }
}
@media (max-width: 583px) {
  .menu.open {
    width: 18vw;
  }
}

@media (max-width: 550px) {
  .header_i .logobox {
    max-width: 70vw !important;
  }
  .About .About_Allbox .About_img > figure {
    width: 250px !important;
    height: 250px !important;
    margin: 10vh auto;
  }
  .About_R .About_text {
    margin: 0px auto !important;
  }
}
@media (max-width: 500px) {
  .logobox .logo_text {
    font-size: 1.2rem !important;
  }
  .menu.open {
    width: 20vw;
  }  
  #Contact .ContactAll .Contact_text{
    font-size: 1.1rem !important;
  }

}
@media (max-width: 450px) {
  .menu.open {
    width: 24vw;
  }   
}
@media (max-width: 430px) {
  .logobox .logo {
    transform: scale(0.7);
  }
  .logobox .logo_text {
    font-size: 1rem !important;
  }
  .ham {
    transform: scale(0.7);
  }
}
@media (max-width: 370px) {
  .header_i .logobox {
    max-width: 75vw !important;
  }
  .header_i .logobox .logo_text {
    width: 63vw;
  }
}
@media (max-width: 360px) {
  .text_motto {
    font-size: 1.5rem !important;
  }
}
