#Work{
  width: 100%;
  max-width: 1600px;
  margin: 200px auto;
}
#Work>h2{  
  font-family: 'SupermercadoOne.ttf';
  font-size: 3rem;
  font-weight: 900;
  margin: 200px auto;  
  text-align: center;
  align-content: center;
}
#Work .Work_container{
  width: 100%;
  margin: auto;
  position: relative;
}
#Work .Work_container .Work_item{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;        
}
#Work .Work_container .slide_btn{  
  cursor: pointer;      
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 100%;
  right: 3%;
  padding: 16px;    
}
#Work .Work_container .slide_btn>figure{  
  width: 32px;
  height: 32px;    
  margin: 0 16px;
}
#Work .Work_container .Work_item .Work_R{
  width: calc(100%-148px)/2;        
  font-weight: 700;
  gap: 16px;        
  height: 70vh;  
  flex: 1;
}
#Work .Work_container .Work_item .Work_R .Work_image{
  width: calc(100%-148px)/2;  
  height: 70vh;  
  border: 2px solid #494554;  
  border-right: none;
  overflow: scroll;
  font-size: 2rem;  
  gap: 16px;      
}
.img_scroll_container{    
  display: flex;
  flex-direction: column;
  align-items: center;  
  gap: 24px;
  background-color: #fff;  
}
.Work_image_info{
  text-align: center;
  margin: 16px auto;
  color: #AEA9BA;
  font-size: 1.2rem;
}
#Work .Work_container .Work_item .Work_description{  
  width: calc(100%-148px)/2;
  height: 70vh;
  border: 2px dashed #9481EB;  
  border-left: none;
  overflow: scroll;  
  padding: 2%;
  align-self: flex-start;  
  flex: 1;
}
.Work_description .Work_title,
.Work_description .Work_Time,
.Work_description .design .design_box,
.Work_description .useTools .tools_title,
.Work_description .uiux .Work_UIUX{    
  display: flex;  
  align-items: center;        
  margin: 20px auto;    
}
.Work_description .item_more{
  margin: 20px auto;  
  font-size: 1.2rem;
  font-weight: 700;
}
.Work_description .item_more:hover{
  color: #9481EB;
}
.design_Element>.Element{
  display: flex;      
  justify-content: flex-start;
  align-items: center;    
  gap: 8px;
  font-size: 1rem;  
}
.Work_description .useTools .tools_icon{
  display: flex;
  justify-content:flex-start;
  gap: 16px;       
}
.Work_description .Work_title>h3,
.Work_description .design .design_box>h3,
.Work_description .useTools .tools_title>h3,
.Work_description .uiux .Work_UIUX>h3{
  font-size: 1.5rem;  
}
.Work_description .Work_title>span,
.Work_description .design .design_box>span,
.Work_description .useTools .tools_title>span,
.Work_description .uiux .Work_UIUX>span{
  font-size: 1rem;  
  color: #AEA9BA;      
}