#Work{
  width: 100%;
  max-width: 1600px;
  margin: 150px auto;  
}
#Work>h2{  
  font-family: 'SupermercadoOne.ttf';
  font-size: 3.5rem;
  font-weight: 900;
  margin: 100px auto;  
  text-align: center;
  align-content: center;
}
#Work .Work_container{
  width: 100%;
  height: auto;
  margin: 0px auto;  
  position: relative;      
}
#Work .Work_container .Work_item{    
  display: flex;
  justify-content: center;  
  align-items: center;  
}
.Work_item .Work_L{
  width: 50%;      
  padding: 1%;
  margin: auto;
  
}
.Work_L .Work_image{  
  width: 100%;
  height: 100%;  
}
.Work_image .img_container{  
  width: 100%;    
  height: 100%;         
}
.Work_image_info{
  text-align: center;
  margin: 16px auto;
  color: #AEA9BA;
  font-size: 1.2rem;
  display: none;
}
#Work .Work_container .Work_item .Work_description{  
  width: 100%;
  height: auto;         
  padding: 2%;  
  align-self: flex-start;  
  flex: 1;  
}
.Work_description .Work_Time{
  margin-bottom: 32px !important;
}
.Work_description .Work_title,
.Work_description .Work_Time,
.Work_description .design .design_box,
.Work_description .useTools .tools_title,
.Work_description .uiux .Work_UIUX{    
  display: flex;  
  align-items: center;        
  flex-wrap: wrap;
  margin: 8px auto;      
}
.Work_description .item_more{
  margin: 20px auto;  
  font-size: 1.2rem;
  font-weight: 700;  
}
.Work_description .item_more:hover{
  color: #9481EB;  
}
.design_Element>.Element{
  display: flex;      
  justify-content: flex-start;
  align-items: center;    
  flex-wrap: wrap;
  gap: 8px;
  font-size: 1rem;
  line-height: 200%;  
}
.Element:last-child{
  margin-bottom: 32px;
}
.Work_description .useTools .tools_icon{       
  display: flex;
  justify-content:flex-start;
  align-items: center;
  gap: 16px;       
  margin-bottom: 32px;
}
.Work_description .Work_title>h3,
.Work_description .design .design_box>h3,
.Work_description .useTools .tools_title>h3,
.Work_description .uiux .Work_UIUX>h3{
  font-size: 1.5rem;    
}
.Work_description .Work_title>span,
.Work_description .design .design_box>span,
.Work_description .useTools .tools_title>span,
.Work_description .uiux .Work_UIUX>span{
  font-size: 1rem;  
  color: #AEA9BA;          
}
.Work_description .uiux{
  margin-bottom: 32px;  
}
#Work .Work_container .slide_number{    
  position: absolute;
  top: 100%;
  left: 3%;
  padding: 16px;      
  font-size: 1.2rem;
  font-weight: 500;
}
#Work .Work_container .slide_btn{    
  cursor: pointer;      
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 100%;
  right: 3%;
  padding: 16px;      
}
#Work .Work_container .slide_btn>figure{  
  width: 32px;
  height: 32px;    
  margin: 0 16px;
}