*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a{
  color: inherit;
  text-decoration: none;  
}
ul{
  list-style: none;
}
figure{
  width: fit-content;
  height: fit-content;
}
img{
  max-width: 100%;
  display: block;  
}
body{
  color: #494554;
  font-family: 'NotoSansKR-Medium';    
  background-color: #FBF8FF;   
}
::selection {
  background-color: #9481EB;
  color: #FBF8FF;
}
@font-face {
  font-family: 'Jua';  
  src: url('../public/font/Jua.ttf') format('truetype');  
}
@font-face {
  font-family: 'NotoSansKR-Medium';  
  src: url('../public/font/NotoSansKR-Medium.ttf') format('truetype');  
}
@font-face {
  font-family: 'SupermercadoOne.ttf';  
  src: url('../public/font/SupermercadoOne.ttf') format('truetype');  
}
.App h2 {  
  font-family: 'SupermercadoOne.ttf';  
  font-size: 3rem;
  margin-bottom: 80px;  
  text-align: center;
}